# Seoul Route Finding API (대중교통환승경로 조회 서비스)
# Endpoint: http://ws.bus.go.kr/api/rest/pathinfo/
SEOUL_ROUTE_API_KEY=17ac662a6d9dd41cf74bd5af50ccffab137f02bc64537b4a8c3955418f8fa0a6

# Seoul Real-time Subway Arrival API (실시간 지하철 도착정보)
# Endpoint: http://swopenapi.seoul.go.kr/api/subway/{KEY}/json/realtimeStationArrival/
SEOUL_REALTIME_API_KEY=OSOPUwes48yDNbX
